section {
    display: grid;
    justify-content: center;
    align-content: center;
}

body {
    background-color: #DFCFBE;
    font-family: "Inconsolata", "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

pre > code {
    font-family: "Source Code Pro", "Sans Mono", "Consolas", "Courier", monospace;
}

h1 {
    font-size: 2.3em;
}

.underline {
    text-decoration: underline;
}

h2 {
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}
