#snippetsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.snippet-item {
    grid-column-start: 1;
    grid-column-end: 1;
}

.snippet-desc {
    display: flex;
    justify-items: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 2;
}

#rust-desc {
    grid-row-start: 1;
    grid-row-end: 1;
}

#java-desc {
    grid-row-start: 2;
    grid-row-end: 2;
}

#python-desc {
    grid-row-start: 3;
    grid-row-end: 3;
}
