section {
    display: grid;
    justify-content: center;
    align-content: center;
}

.snippet-item {
    grid-column-start: 1;
    grid-column-end: 1;
}

h1, div, p {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#summary {
    display: grid;
}
